<!DOCTYPE html>
<html>
<head>
  <title>RubyInternship</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<section id="container">
  <h1>Ruby internship 2015</h1>

  <%= link_to "SignUp", signup_path %>
  <%= link_to "SignIn", signin_path %>

  <p/>
  <% flash.each do |type, message| %>
    <div class="alert <%= bootstrap_class_for(type) %>" role="alert">
      <%= message %>
    </div>
  <% end %>

  <%= yield %>
</section>
</body>
</html>
